/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--font-weight-regular);
  color: var(--text-color);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-attachment: fixed;
}

.header {
  font-family: var(--accent-font);
  font-weight: 400;
  max-width: 700px;
  background-color: var(--background-color);
  margin-block-start: 100px;
  margin-inline: auto;
  text-align: center;
  border: 2px solid var(--text-color);
  font-size: 14px;
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  padding-block-end: 20px;
  font-weight: inherit;
}

.header__text {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.header__theme-menu {
  padding-block: 24px;
  text-align: start;
  padding-inline-start: clamp(9.25rem, 5.7069rem + 15.1174vw, 19.3125rem);
}

.theme-menu__item:not(:first-of-type) {
  margin-block-start: 12px;
}

.theme-menu__button {
  position: relative;
  background-color: transparent;
  border: transparent;
  font-size: inherit;
  font-weight: inherit; 
  text-transform: inherit;
  transition: 0.3s ease;
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -13px;
  animation: jiggling 0.5s ease-in-out infinite alternate;
}

@keyframes jiggling {

  from {
    left: -13px;
  }

  to {
    left: -9px;
  }
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  inline-size: 100%;
  height: 2px;
  background-color: currentColor;
  transition: 0.3s ease;
  transform: scaleX(0); 
  transform-origin: left; 
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-block: 100px;
  max-width: 700px;
  margin-inline: auto;
}

.article {
  background-color: var(--background-color);
  border: 2px solid var(--text-color);
}

.article__title {
  font-size: 18px;
  padding: 6px 10px 2px;
  line-height: 1.24;
  font-variation-settings: 'wght' var(--font-weight-bold);
}

.article__container {
  position: relative;
  border-block-start: 2px solid var(--text-color);
  border-block-end: 2px solid var(--text-color);
}

.html::after {
  content: "</HTML>";
  position: absolute;
  top: clamp(1.625rem, 1.581rem + 0.1878vw, 1.75rem);
  right: clamp(0.6875rem, 0.4234rem + 1.1268vw, 1.4375rem);
  color: var(--label-color);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  text-shadow:
    -1px 0 var(--label-stroke-color), 
    0 1px var(--label-stroke-color), 
    1px 0 var(--label-stroke-color), 
    0 -1px var(--label-stroke-color);
  mix-blend-mode: hard-light;
}

.css::after {
  content: "<CSS>";
  position: absolute;
  top: clamp(1.625rem, 1.581rem + 0.1878vw, 1.75rem);
  right: clamp(0.6875rem, 0.4234rem + 1.1268vw, 1.4375rem);
  color: var(--label-color);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  text-shadow:
    -1px 0 var(--label-stroke-color), 
    0 1px var(--label-stroke-color), 
    1px 0 var(--label-stroke-color), 
    0 -1px var(--label-stroke-color);
  mix-blend-mode: hard-light;
}

.desigions::after {
  content: "<desigions>";
  position: absolute;
  top: clamp(1.625rem, 1.581rem + 0.1878vw, 1.75rem);
  right: clamp(0.6875rem, 0.4234rem + 1.1268vw, 1.4375rem);
  color: var(--label-color);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  text-shadow:
    -1px 0 var(--label-stroke-color), 
    0 1px var(--label-stroke-color), 
    1px 0 var(--label-stroke-color), 
    0 -1px var(--label-stroke-color);
  mix-blend-mode: hard-light;
}

.care::after {
  content: "care";
  position: absolute;
  top: clamp(1.625rem, 1.581rem + 0.1878vw, 1.75rem);
  right: clamp(0.6875rem, 0.4234rem + 1.1268vw, 1.4375rem);
  color: var(--label-color);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  text-shadow:
    -1px 0 var(--label-stroke-color), 
    0 1px var(--label-stroke-color), 
    1px 0 var(--label-stroke-color), 
    0 -1px var(--label-stroke-color);
  mix-blend-mode: hard-light;
}

.support::after {
  content: "<support>";
  position: absolute;
  top: clamp(1.625rem, 1.581rem + 0.1878vw, 1.75rem);
  right: clamp(0.6875rem, 0.4234rem + 1.1268vw, 1.4375rem);
  color: var(--label-color);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  text-shadow:
    -1px 0 var(--label-stroke-color), 
    0 1px var(--label-stroke-color), 
    1px 0 var(--label-stroke-color), 
    0 -1px var(--label-stroke-color);
  mix-blend-mode: hard-light;
}

.lifestyle::after {
  content: "<lifes-style: none;>";
  position: absolute;
  top: clamp(1.625rem, 1.581rem + 0.1878vw, 1.75rem);
  right: clamp(0.6875rem, 0.4234rem + 1.1268vw, 1.4375rem);
  color: var(--label-color);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  text-shadow:
  -1px 0 var(--label-stroke-color), 
  0 1px var(--label-stroke-color), 
  1px 0 var(--label-stroke-color), 
  0 -1px var(--label-stroke-color);
  mix-blend-mode: hard-light;
}

.experience::after {
  content: "<experience>";
  position: absolute;
  top: clamp(1.625rem, 1.581rem + 0.1878vw, 1.75rem);
  right: clamp(0.6875rem, 0.4234rem + 1.1268vw, 1.4375rem);
  color: var(--label-color);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  text-shadow:
  -1px 0 var(--label-stroke-color), 
  0 1px var(--label-stroke-color), 
  1px 0 var(--label-stroke-color), 
  0 -1px var(--label-stroke-color);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--label-stroke-color)) or (-webkit-text-stroke: 1px var(--label-stroke-color))) {  
  
  .html::after {
      -webkit-text-stroke: 1px var(--label-stroke-color);
      text-stroke: 1px var(--label-stroke-color);
      text-shadow: none;
  }

  .css::after {
    -webkit-text-stroke: 1px var(--label-stroke-color);
    text-stroke: 1px var(--label-stroke-color);
    text-shadow: none;
}

  .desigions::after {
    -webkit-text-stroke: 1px var(--label-stroke-color);
    text-stroke: 1px var(--label-stroke-color);
    text-shadow: none;
}

  .care::after {
    -webkit-text-stroke: 1px var(--label-stroke-color);
    text-stroke: 1px var(--label-stroke-color);
    text-shadow: none;
}

  .support::after {
    -webkit-text-stroke: 1px var(--label-stroke-color);
    text-stroke: 1px var(--label-stroke-color);
    text-shadow: none;
}

  .lifestyle::after {
    -webkit-text-stroke: 1px var(--label-stroke-color);
    text-stroke: 1px var(--label-stroke-color);
    text-shadow: none;
}

  .experience::after {
    -webkit-text-stroke: 1px var(--label-stroke-color);
    text-stroke: 1px var(--label-stroke-color);
    text-shadow: none;
}
}

.article__image {
  width: 100%;
  object-fit: cover;
}

.first-image {
  filter: blur(5px);
}

.second-image {
  filter: hue-rotate(45deg);
}

.third-image {
  filter: invert();
}

.fourth-image {
  filter: brightness(200%);
}

.fifth-image {
  filter: sepia(88%);
}

.sixth-image {
  filter: opacity(0.2);
}

.seventh-image {
  filter: saturate(150%) contrast(200%) brightness(150%);
}

.article__text {
  line-height: 1.17;
  padding: 21px 25px 25px;
  font-size: 18px;
}

.article__text p:not(:last-of-type) {
  margin-block-end: 27px;
}

.article__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  padding-inline-end: 25px;
  padding-block-end: 24px;
}

.card__icon-button {
  background-color: transparent;
  border: transparent 2px solid;
  padding: 0;
  max-block-size: 39px;
}

.main-body, 
.core, 
.sparks {
  fill: transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: var(--text-color) solid 2px;
}

.like-icon .core {
  transition: .3s .03s;
}

.like-icon .main-body {
  transition: .3s;
}

.like-icon:hover .core {
  fill: currentColor;
  transition: .3s .03s;
}

.like-icon:hover .main-body {
  fill: currentColor;
  transition: .3s .08s;
}

.like-icon:active .core {
  fill: var(--sparks-color);
  transition: .3s .03s;
}

.like-icon:active .main-body {
  fill: var(--sparks-color);
  transition: .3s .08s;
}

.like-icon.is-liked .core {
  fill: var(--sparks-color);
  transition: .3s .03s;
}

.like-icon.is-liked .main-body {
  fill: var(--sparks-color);
  transition: .3s .08s;
}

.like-icon .contour {
  transition: linear .1s;
}

.like-icon.is-liked .contour {
  fill: var(--sparks-color);
  transition: .3s .14s;
}

.like-icon.like-icon.is-liked .heart {
  animation: popping ease-in .3s .1s;
  transform-origin: center;
}

@keyframes popping {

  0% {
    scale: 1;
  }

  50% {
    scale: 1.5;
  }

  100% {
    scale: 1;
  }
}

.like-icon.like-icon.is-liked .sparks {
  animation: sparkling ease-in .3s .3s;
}

@keyframes sparkling {

  0% {
    fill: transparent;
  }

  50% {
    fill: var(--sparks-color);
  }

  100% {
    fill: transparent;
  }
}

.card__like-button {
  position: relative;
  inline-size: 130px;
  block-size: 38px;
  background-color: transparent;
  border: 2px solid currentColor;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 0.9;
  padding-block-start: 3px;
}

.card__like-button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  inline-size: 100%;
  block-size: 100%;
  background-color: currentColor;
  transition: .5s ease-in-out;
  transform: scaleX(0); 
  transform-origin: left; 
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 var(--text-color);
  transition: 0.3s ease;
}

.card__like-button:hover:after {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--button-color);
}

.footer {
  margin-inline: auto;
}

.footer__button {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  inline-size: 310px;
  block-size: 84px;
  background-color: var(--background-color);
  border: 2px solid currentColor;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 0.9;
}

.footer__button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  inline-size: 100%;
  block-size: 100%;
  background-color: currentColor;
  transition: .5s ease-in-out;
  transform: scaleX(0); 
  transform-origin: left; 
}

.footer__button:focus {
  outline: none;
}

.footer__button:focus-visible {
  box-shadow: 2px 2px 0 var(--text-color);
  transition: 0.3s ease;
}

.footer__button:hover::after {
  transform: scaleX(1);
}

.dialog {
 background-color: var(--background-color);
 color: var(--text-color);
 font-family: var(--accent-font);
 font-size: 14px;
 text-transform: uppercase;
 line-height: 1.5;
 inline-size: 341px;
 block-size: 195px;
 padding: 30px 41px;
 border: 2px solid var(--text-color);
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog-image {
  min-inline-size: 39px;
}

.dialog__container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.dialog__button {
  position: relative;
  inline-size: 257px;
  block-size: 38px;
  margin-block-start: 30px;
  background-color: transparent;
  border: 2px solid currentColor;
}

.dialog__button:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  inline-size: 100%;
  block-size: 100%;
  background-color: currentColor;
  transition: .5s ease-in-out;
  transform: scaleX(0); 
  transform-origin: left; 
}

.dialog__button:focus {
  outline: none;
}

.dialog__button:focus-visible {
  box-shadow: 2px 2px 0 var(--text-color);
  transition: 0.3s ease;
}

.dialog__button:hover::after {
  transform: scaleX(1);
}

@media(width >= 500px) {

  .article__title {
    line-height: 1.26;
  }

  .footer__button {
    inline-size: 339px;
    block-size: 55px;
    flex-direction: row;
  }

  .footer__button-image {
    inline-size: 21px;
    block-size: 21px;
  }

  .dialog {
    inline-size: 357px;
    block-size: 193px;
    padding: 30px;
    overflow: hidden;
  }

  .dialog__button {
    inline-size: 293px;
    block-size: 38px;
  }
}